.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  height: 100%;
}
